.header__lang-link {
    display: flex;
    align-items: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
    gap: 18px;
    padding-top: 5px;
    color: white;
    text-underline-offset: 5px;
}

.header__lang-link:last-child {
    text-decoration-line: none;
}

@media screen and (max-width: 1024px) {
    .header__lang-link {
    padding-top: 8px;
    }
  }

  @media screen and (max-width: 900px) {
    .header__lang-link {
    padding-top: 6px;
    }
  }

  @media screen and (max-width: 768px) {
    .header__lang-link {
    padding-top: 6px;
    }
  }

  @media screen and (max-width: 540px) {
    .header__lang-link {
    }
  }

  @media screen and (max-width: 320px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
      text-underline-offset: 3px;
    }
  }