.photo-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 0;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 92px 48px 92px 48px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(4, 1fr);
      max-width: 928px;
      min-height: 942px;
      padding: 92px 48px 12px 48px;
      gap: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    .photo-grid {
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(6, 1fr);
      max-width: 720px;
      min-height: 1664px;
      padding: 88px 24px 15px 24px;
    }
  } 

  @media screen and (max-width: 320px) {
    .photo-grid {
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(12, 1fr);
      max-width: 288px;
      min-height: 2724px;
      padding: 64px 16px 14px 16px;
      column-gap: 12px;
    }
  }