.cover__subtitle {
    max-width: 360px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 32px 412px 245px 412px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
      max-width: 1024px;
      padding: 0px 332px 195px 332px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover__subtitle {
      max-width: 360px;
      padding: 32px 204px 115px 204px;
    }
  } 

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
      padding: 0px 16px 33px 16px;
    }
  }