.header {
    max-width: 1184px;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 900px) {
  .header {
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 540px) {
  .header {
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 9px;
  }
}