.place__title {
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0px;
  padding-left: 4px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
    min-height: 76px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    min-height: 92px;
    font-size: 42px;
    line-height: 46px;
  }
} 

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
    padding-top: 0px;
    padding-left: 17px;
  }
}