.header__lang-link_active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

  @media screen and (max-width: 320px) {
    .header__lang-link_active {
      text-underline-offset: 3px;
    }
  }