.lead__title {
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 32px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 719px) {
  .lead__title {
  max-width: 100%;
  padding-bottom: 14px;
  font-size: 40px;
  line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
  }
}

@media screen and (max-width: 288px) {
  .lead__title {
    max-width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
}