.intro__text {
    max-width: 690px;
    padding-top: 2px;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .intro__text {
      max-width: 690px;
    }
  }

  @media screen and (max-width: 768px) {
    .intro__text {
      max-width: 720px;
      padding-left: 15px;
    }
  } 

  @media screen and (max-width: 320px) {
    .intro__text {
      max-width: 288px;
      padding-left: 0px;
      
    }
  }