.cover {
    position: relative;
    max-width: 1184px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 92px;
    padding: 0px;
    align-self: center;
}

  @media screen and (max-width: 768px) {
    .cover {
      margin-top: 64px;
    }
  } 

  @media screen and (max-width: 320px) {
    .cover {
      margin-top: 41px;
    }
  }