.place__image {
  max-width: 100%;
  padding-top: 0px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    min-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    width: 100%;
    min-height: 340px;
    padding-top: 48px;
  }
} 

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    max-width: 100%;
    min-height: 320px;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}