.header__lang-links {
    display: flex;
    align-items: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
    gap: 18px;
    padding-top: 5px;
    list-style: none;
}


@media screen and (max-width: 1024px) {
    .header__lang-link {
      padding-top: 8px;
    }
  }

  @media screen and (max-width: 900px) {
    .header__lang-link {
      padding-top: 6px;
    }
  }

  @media screen and (max-width: 320px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
      text-underline-offset: 3px;
    }
  }