.intro__title{
    max-width: 690px;
    min-height: 58px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 38px;
    padding-right: 20px;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .intro__title {
      max-width: 690px;
      min-height: 58px;
    }
  }

  @media screen and (max-width: 768px) {
    .intro__title {
      max-width: 720px;
      min-height: 58px;
    }
  } 

  @media screen and (max-width: 320px) {
    .intro__title {
      max-width: 288px;
      min-height: 70px;
    }
  }