.intro__title{
    max-width: 690px;
    text-align: start;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 40px;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 540px) {
  .intro__title {
    word-wrap: break-word;
    font-size: 32px;
    line-height: 35px;
  }
}

  @media screen and (max-width: 320px) {
    .intro__title {
      word-wrap: break-word;
      font-size: 32px;
      line-height: 35px;
    }
  }